{% extends "youtube/layout.html" %}
{% load static %}

{% block title %}
    {{profile.username}}'s Profile
{% endblock %}
{% block body %}
<div class="index">
    <div class="container mb-5 mt-5">
        <div class="profile-div shadow-sm">
            <div class="profile-header mb-4">
                <h1 class="text-center profile-username d-flex align-items-center justify-content-center gap-2">
                    <span id="profile-username-{{profile.id}}" name="profile-name" data-edit-id="{{profile.id}}">
                        {{ profile.username }}
                    </span>
                    <span class="gender-span-{{profile.id}}">
                        {% if profile.gender == 'female' %}
                            👩
                        {% elif profile.gender == 'male' %}
                            🧑
                        {% else %}
                            <i class="bi bi-person-circle"></i>
                        {% endif %}
                    </span>
                    {% if profile.premium %}
                        <span class="badge bg-warning text-dark mt-3" >Premium</span>
                    {% endif %}
                </h1>
            </div>
            
            <!-- Following/Followers Info Section -->
            <div class="info-follow d-flex justify-content-between g-2">
                <div class="col-auto">
                    <button type="button" class="btn btn-following bg-body shadow" data-bs-toggle="modal" data-bs-target="#followingModal">
                        <span class="following-label">Following</span>
                        <span class="following-count" id="following-{{profile.id}}">{{ profile.following_count }}</span>
                        <i class="bi bi-people-fill ms-2"></i>
                    </button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-following bg-body shadow" data-bs-toggle="modal" data-bs-target="#followersModal">
                        <span class="followers-label">Followers</span>
                        <span class="followers-count" id="followers-{{profile.id}}">{{ profile.followers_count }}</span>
                        <i class="bi bi-people-fill ms-2"></i>
                    </button>
                </div>
            </div>
            
            <div class="profile-main d-flex justify-content-center">
                {% if user.username != profile.username and user.is_authenticated %}
                    {% if profile.id in followed %}
                        <button class="btn btn-secondary unfollow-button"  style="height:10px" id="unfollow-button-{{profile.id}}" data-profile-id="{{ profile.id }}">Unfollow</button>
                        <button class="btn btn-primary follow-button d-none" style="height:10px" id="follow-button-{{ profile.id }}" data-profile-id="{{ profile.id}}">Follow</button>
                    {% else %}
                        <button class="btn btn-primary follow-button" id="follow-button-{{ profile.id }}"  style="height:10px" data-profile-id="{{ profile.id}}">Follow</button>
                        <button class="btn btn-secondary d-none unfollow-button" id="unfollow-button-{{profile.id}}" style="height:10px" data-profile-id="{{ profile.id }}">Unfollow</button>
                    {% endif %}
                {% endif %}
                {% if user.username == profile.username %}
                <button class="btn btn-secondary" style="height:10px" data-bs-toggle="modal" data-bs-target="#editProfileModal-{{profile.id}}">⚙️ Edit profile</button>
                {% endif %}
            </div>
            <!-- New Description Box -->
            <div class="profile-description mb-4 mt-4 p-3 rounded-5">
                <div class="card shadow">
                    <div class="card-body">
                        <p class="card-text text-center" id="profile-description-text-{{profile.id}}">
                            {% if profile.description %}
                                {{ profile.description }}
                            {% else %}
                                {% if user.username == profile.username %}
                                    Add a description to tell people about yourself...
                                {% else %}
                                    This user hasn't added a description yet.
                                {% endif %}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        <hr>
    </div>
    <div class="selector-senction">
        <div class="d-flex justify-content-center gap-3">
            <button class="btn btn-danger video-button" id="video-button">Videos</button>
            <button class="btn btn-outline-danger playlist-button" id="playlist-button">Playlists</button>
        </div>
    </div>
        <div class="videos-tab ml-5 mr-5  p-5 shadow-sm rounded-4">
            <div class="row">
                {% csrf_token %}
                {% for video in videos %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 video-card" data-video-id="{{video.id}}" id="video-card-{{video.id}}">
                    <a href="{% url 'view_video' video.id %}" class="anchor-card text-decoration-none">
                        <div class="video-container card shadow-sm p-3">
                            <!-- Video Title -->
                            <h4 class="card-title {% if not video.description%} mb-5 {% endif %} text-center">{{ video.title }}</h4>
                            <hr style="width: 25%; color:grey;" class="d-flex justify-content-center m-auto mb-3">
                            <!-- Video Description -->  
                            {% if video.description %}
                            <p class="card-text mb-4" style="max-height: 10px;">{{ video.description }}</p>
                            {% endif %}
        
                            <!-- Thumbnail Image -->
                            <img src="{{ video.image_file.url }}" 
                            alt="{{ video.title }} thumbnail" 
                            class="card-img-top img-fluid" 
                            style="height: 250px; width: 100%; object-fit: cover; border-radius: 8px;">
                        
                            <hr>
                            <!-- Views Count -->
                            <p class="mb-2 text-muted">
                                <i class="bi bi-eye"></i> {{video.views}} views
                            </p>
                            <!-- Uploaded Date and User Info -->
                            <p class="mt-2 text-muted">
                                Uploaded at: {{ video.uploaded_at|date:"Y-m-d H:i" }} by 
                                <strong><a href="{% url 'user_profile' video.user.id %}" class="text-muted"><span class="uploaded-div-{{profile.id}}">{{ video.user }}</span></a></strong>
                            </p>
                        </div>
                    </a>
                </div>
                {% empty %}
                <div class="col-12 text-center">
                    <p>No videos available at the moment.</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="playlist-container playlist-div p-5 shadow-sm rounded-4 d-none m-auto">
            <h3 class="text-center mb-4">Created Playlists</h3>
               <div class="row">
                {% csrf_token %}
                {% for playlist in playlists %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 playlist-card" data-video-id="{{video.id}}" id="video-card-{{video.id}}">
                    <a href="{% url 'view_playlist' playlist.id %}" class="anchor-card text-decoration-none">
                        <div class="video-container card shadow-sm p-3 mt-2">
                            <!-- Video Title -->
                            <h4 class="card-title {% if not video.description%} mb-5 {% endif %} text-center">{{ playlist.name }}</h4>
        
                            <!-- Thumbnail Image -->
                            <img src="{{ playlist.parent_video.image_file.url}}" class="playlist-image card-img-top" alt="Playlist cover"
                            class="card-img-top img-fluid" 
                            style="height: 250px; width: 100%; object-fit: cover; border-radius: 8px;">
                        
                            <hr>
                            <!-- Views Count -->
                            <p class="mb-2 text-muted">
                                <i class="bi bi-circle"></i> {{playlist.videosNumber }} Videos
                            </p>
                            <!-- Uploaded Date and User Info -->
                            <p class="mt-2 text-muted">
                                Uploaded at: {{playlist.created_at|date:"Y-m-d H:i"}}
                            </p>
                        </div>
                    </a>
                </div>
                {% empty %}
                <div class="col-12 text-center">
                    <p><strong>{{profile.username}}</strong> doesn't have any playlists.</p>
                </div>
                {% endfor %}
            </div>
        </div>
</div>

<!-- Edit Profile Modal -->
<div class="modal fade edit-profile-modal" id="editProfileModal-{{profile.id}}" data-edit-id="{{profile.id}}" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Edit profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="userName" class="form-label">Name</label>
                        <input type="text" 
                               class="form-control text-muted profile-name-input" 
                               id="profile-name-{{profile.id}}" 
                               name="userName" 
                               data-original-value="{{user.username}}"
                               value="{{user.username}}">
                    </div>
                    <div class="mb-3">
                        <label for="genderOption" class="form-label">Gender</label>
                        <div class="d-flex align-items-center">
                            {% if profile.gender == 'male' %}
                            <i id="gender-icon-{{profile.id}}" 
                            style="font-size: 1.5rem;" class="mr-1">🧑</i>
                            {% elif profile.gender == 'female' %}
                            <i id="gender-icon-{{profile.id}}" 
                            style="font-size: 1.5rem;" class="mr-1">👩</i>
                            {% else %}
                            <i id="gender-icon-{{profile.id}}" 
                               class="bi bi-person-circle me-2" 
                               style="font-size: 1.5rem;"></i>
                            {% endif %}
                            <select class="form-select gender-option" 
                                    id="gender-option-{{profile.id}}" 
                                    name="gender" 
                                    data-original-value="{{profile.gender}}" >
                                <option value="none" {% if profile.gender == 'none' %}selected{% endif %}>Prefer not to say</option>
                                <option value="male" {% if profile.gender == 'male' %}selected{% endif %}>Male</option>
                                <option value="female" {% if profile.gender == 'female' %}selected{% endif %}>Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control profile-description-input" 
                                  id="profile-description-{{profile.id}}" 
                                  name="description" 
                                  data-original-value="{{profile.description}}"
                                  rows="4" 
                                  placeholder="Add your profile description">{{profile.description}}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="redeemcode" class="form-label">Redeem Code</label>
                        <input name="redeemcode" class="form-control redeem-code-input" id="redeem-code-input-{{profile.id}}" placeholder="Ex: ABCD">
                    </div>
                    <button type="submit" 
                            class="btn btn-danger w-100 disabled submit-edit-profile" 
                            data-edit-id="{{profile.id}}" 
                            id="submit-edit-profile-{{profile.id}}">Submit Changes <span id="verify-button"><img src="https://cdn3.emoji.gg/emojis/3367-red-verification.gif" width="20px" height="20px" alt="Red_Verification"></span></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Followers Modal -->
<div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header bg-light">
                <h5 class="modal-title fw-bold" id="editProfileModalLabel">Followers</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body p-4">
                <div class="list-group">
                    {% for follow in followers %}
                    <div class="list-group-item d-flex align-items-center mb-3 shadow">
                        <i class="bi bi-person-circle mr-2"></i>
                        <div>
                            <a href="{% url 'user_profile' follow.user.id%}" class="text-decoration-none" {% if follow.user.premium %} style="color: rgb(255, 193, 7);" {% endif %} style="color: hsl(0, 39%, 43%);"><h6 class="mb-0 fw-bold">{{ follow.user.username }}</h6></a>
                            <small class="text-muted">{{ follow.user.description|truncatechars:50 }}</small>
                        </div>
                    </div>
                    {% empty %}
                    <ul class="mt-1">
                        <li> There aren't any accounts </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Following Modal -->
<div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header bg-light">
                <h5 class="modal-title fw-bold" id="editProfileModalLabel">Following</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body p-4">
                <div class="list-group">
                    {% for follow in following %}
                    <div class="list-group-item d-flex align-items-center mb-3 shadow">
                        <i class="bi bi-person-circle mr-2"></i>
                        <div>
                            <a href="{% url 'user_profile' follow.followed_user.id%}" class="text-decoration-none" {% if follow.followed_user.premium %} style="color: rgb(255, 193, 7);" {% endif %}style="color: hsl(0, 39%, 43%);"><h6 class="mb-0 fw-bold">{{ follow.followed_user.username }}</h6></a>
                            <small class="text-muted">{{ follow.followed_user.description }}</small>
                        </div>
                    </div>
                    {% empty %}
                    <ul class="mt-1">
                        <li> There aren't any accounts </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'youtube/index.js' %}"></script>
{% endblock %}