{% extends "youtube/layout.html" %}
{% load static %}

{% block title %}
    Trending
{% endblock %}
{% block body %}
<div class="index">
    <h1 class="text-center mb-5 mt-5">Trending 🔥</h1>
    <h2>{{message}}</h2>
    <div class="videos ml-5 mr-5  p-5 shadow-sm rounded-4">
        <div class="row">
            {% csrf_token %}
            {% for video in videos %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-4 video-card" data-video-id="{{video.id}}" id="video-card-{{video.id}}">
                <a href="{% url 'view_video' video.id %}" class="anchor-card text-decoration-none">
                    <div class="video-container card shadow-sm p-3 video-container-trending">
                        <!-- Video Title -->
                        <h4 class="card-title {% if not video.description%} mb-5 {% endif %} text-center">{{ video.title }}</h4>
                        <hr style="width: 25%; color:grey;" class="d-flex justify-content-center m-auto mb-3">
                        <!-- Video Description -->  
                        {% if video.description %}
                        <p class="card-text mb-4" style="max-height: 10px;">{{ video.description }}</p>
                        {% endif %}
    
                        <!-- Thumbnail Image -->
                        <img src="{{ video.image_file.url }}" 
                        alt="{{ video.title }} thumbnail" 
                        class="card-img-top img-fluid" 
                        style="height: 250px; width: 100%; object-fit: cover; border-radius: 8px;">
                    
                        <hr>
                        <!-- Views Count -->
                        <p class="mb-2 text-muted">
                            🔥 {{video.views}} views
                        </p>
                        <!-- Uploaded Date and User Info -->
                        <p class="mt-2 text-muted">
                            Uploaded at: {{ video.uploaded_at|date:"Y-m-d H:i" }} by 
                            <strong><a href="{% url 'user_profile' video.user.id %}" class="text-muted">{{ video.user }}</a></strong>
                        </p>
                    </div>
                </a>
            </div>
            {% empty %}
            <div class="col-12 text-center">
                <p>No videos available at the moment.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
    

{% endblock %}
{% block script %}
    <script src="{% static 'youtube/index.js' %}"></script>
{% endblock %}